.header {
  padding: 0.5rem 16px;
  border-bottom: 1px solid var(--vscode-panel-border);
  display: flex;
  justify-content: space-between;
}

.header .appearance > * {
  margin-right: 0.5rem;
}

.iconButton.active {
  background-color: var(--button-icon-hover-background);
}
