.timeline {
  display: flex;
  flex-direction: column;
  background-color: var(--vscode-sideBar-background);
  border-top: 1px solid var(--vscode-panel-border);
  height: 6rem;
}

.header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.header>* {
  flex: 1;
}

.button {
  font-size: 1.2rem;
}

.controls> :not(:last-child) {
  margin-right: 0.25rem;
}

.playbackControl.active {
  background-color: var(--vscode-badge-background);
  color: var(--vscode-badge-foreground);
}

.playbackControls {
  display: flex;
  justify-content: center;
}

.timeInfo {
  display: flex;
  justify-content: end;
}

.time > * {
  padding: 0.15rem 0.5rem;
}

.time :first-child {
  background-color: var(--background);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  color: var(--vscode-disabledForeground);
}

.time :nth-child(2) {
  background-color: var(--dropdown-background);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.sheet {
  flex: 1;
  height: 0;
  overflow-x: auto;
  overflow-y: hidden;
  user-select: none;
}

.cursor {
  height: 100%;
  width: 0;
  position: relative;
  top: -100%;
  left: 150px;
}

.cursorHandle {
  background-color: var(--vscode-badge-background);
  color: var(--vscode-badge-foreground);
  border-radius: 0.25rem;
  height: 16px;
  text-align: center;
  z-index: 10;
  display: inline-block;
  padding: 0 0.5rem;
  transform: translateX(-50%);
}

.cursorTail {
  height: calc(100% - 16px);
  background-color: var(--vscode-badge-background);
  width: 2px;
}

.pads {
  position: relative;
  height: 100%;
  display: flex;
  flex-shrink: 0;
}

.pad {
  border-left: 2px solid var(--vscode-sideBar-background);
  background-color: var(--background);
}

.pad.inactive {
  background-color: var(--background);
}

.pad.inactive > .padLabel {
  color: var(--vscode-disabledForeground);
}

.padLabel {
  display: inline-block;
  transform: translateX(calc(-50% - 1px));
  background-color: var(--background);
  color: var(--vscode-breadcrumb-foreground);
  padding-bottom: 0.25rem;
}
